

.container .title-container{
    
    text-align: center;
    height: 250px;
   
    
}

.container .title-container h2 {
    position: relative;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Source Sans Pro";
    font-weight: 700;
}

.container .title-container p {
    position: relative;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.brand-container {
  display: flex;
  align-items: center;
  justify-content: center;
}







