
.brand-box {
    text-align: center;
}
.link-box {
    text-align: left;
    margin-top: 20px;
    margin-left: 20px;
}


ul {
    list-style: none;
    
}

/* ul li a{
    text-decoration: none;
} */

h3{
    margin-top: 20px;
    font-family: "Source Sans Pro";
    font-size: 22px;
    font-weight: 700;
    margin-left: 12px;
}