


@media screen and(min-width:700px) {
    .sideNavStyle {
       
        height: 100vh;
        width: 250px;
        background: #fff;
        top: 60vh;
        position: absolute;
        border-right: 1px solid #eee;
        left: 0;
        text-align: left;
        z-index: 1;
    }
    
.brand-box {
    text-align: center;
}

.brand-box h3 {
    font-family: "Source Sans Pro";
    font-weight: 700;
}
.link-box {
    text-align: left;
    margin-top: 20px;
    margin-left: 20px;
}


ul {
    list-style: none;
    
}

li {
  
    transition: 0.5s ease-in-out;
}

li h3:hover  {
    background: black;
    color: white;
    
}

a {
    text-decoration:none;
}

/* ul li a{
    text-decoration: none;
} */

.link-box h3{
    color: #111;
    font-size: 16px;
    font-family: "Source Sans Pro";
    text-decoration: none;
    font-weight: 600;
}

}